## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
# application_df.head()
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(["EIN","NAME"],1)

C:\Users\madis\AppData\Local\Temp/ipykernel_15284/1538362199.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  application_df = application_df.drop(["EIN","NAME"],1)

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
apptype_count=application_df.APPLICATION_TYPE.value_counts()
apptype_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(apptype_count[apptype_count < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_count=application_df.CLASSIFICATION.value_counts()
print(classification_count)
print("-"*50)
print(f"Average: {classification_count.mean()}")
print(f"Median: {classification_count.median()}")

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64
--------------------------------------------------
Average: 483.0845070422535
Median: 5.0

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
clfs_to_remove = pd.DataFrame(classification_count.loc[lambda x : x == 1])
clfs_to_remove_list = clfs_to_remove.index.tolist()

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classification_count[classification_count < 500 ].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df_dummies = pd.get_dummies(application_df,
                                        columns = ["APPLICATION_TYPE", 
                                                   "AFFILIATION", 
                                                   "CLASSIFICATION", 
                                                   "USE_CASE", 
                                                   "ORGANIZATION", 
                                                   "INCOME_AMT", 
                                                   "SPECIAL_CONSIDERATIONS"], 
                                        drop_first = True)
application_df_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df_dummies.IS_SUCCESSFUL
X = application_df_dummies.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=13)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
input_feature_count = len(X_train_scaled[0])
input_feature_count

37

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_feature_count = len(X_train_scaled[0])
input_feature_count

hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10
hidden_nodes_layer4 = 3

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="sigmoid", input_dim = input_feature_count))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Added a third hidden layer to improve accuracy
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="softmax"))

# Added a fourth hidden layer to improve accuracy
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               3800

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 10)                110

 dense_4 (Dense)             (None, 1)                 11

=================================================================
Total params: 7,261
Trainable params: 7,261
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
#  YOUR CODE GOES HERE
#  nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 781us/step - loss: 0.5925 - accuracy: 0.7065
Epoch 2/50
804/804 [==============================] - 1s 757us/step - loss: 0.5721 - accuracy: 0.7271
Epoch 3/50
804/804 [==============================] - 1s 785us/step - loss: 0.5623 - accuracy: 0.7273
Epoch 4/50
804/804 [==============================] - 1s 752us/step - loss: 0.5590 - accuracy: 0.7292
Epoch 5/50
804/804 [==============================] - 1s 745us/step - loss: 0.5567 - accuracy: 0.7291
Epoch 6/50
804/804 [==============================] - 1s 756us/step - loss: 0.5552 - accuracy: 0.7294
Epoch 7/50
804/804 [==============================] - 1s 736us/step - loss: 0.5550 - accuracy: 0.7297
Epoch 8/50
804/804 [==============================] - 1s 743us/step - loss: 0.5532 - accuracy: 0.7297
Epoch 9/50
804/804 [==============================] - 1s 766us/step - loss: 0.5525 - accuracy: 0.7299
Epoch 10/50
804/804 [==============================] - 1s 756us/step - loss: 0.5520 - accuracy: 0.7306
Epoch 11/50
804/804 [==============================] - 1s 767us/step - loss: 0.5510 - accuracy: 0.7310
Epoch 12/50
804/804 [==============================] - 1s 749us/step - loss: 0.5512 - accuracy: 0.7299
Epoch 13/50
804/804 [==============================] - 1s 782us/step - loss: 0.5501 - accuracy: 0.7321
Epoch 14/50
804/804 [==============================] - 1s 844us/step - loss: 0.5497 - accuracy: 0.7314
Epoch 15/50
804/804 [==============================] - 1s 812us/step - loss: 0.5498 - accuracy: 0.7315
Epoch 16/50
804/804 [==============================] - 1s 841us/step - loss: 0.5489 - accuracy: 0.7318
Epoch 17/50
804/804 [==============================] - 1s 781us/step - loss: 0.5482 - accuracy: 0.7315
Epoch 18/50
804/804 [==============================] - 1s 754us/step - loss: 0.5480 - accuracy: 0.7326
Epoch 19/50
804/804 [==============================] - 1s 792us/step - loss: 0.5481 - accuracy: 0.7330
Epoch 20/50
804/804 [==============================] - 1s 797us/step - loss: 0.5478 - accuracy: 0.7335
Epoch 21/50
804/804 [==============================] - 1s 753us/step - loss: 0.5472 - accuracy: 0.7324
Epoch 22/50
804/804 [==============================] - 1s 748us/step - loss: 0.5475 - accuracy: 0.7328
Epoch 23/50
804/804 [==============================] - 1s 764us/step - loss: 0.5466 - accuracy: 0.7337
Epoch 24/50
804/804 [==============================] - 1s 737us/step - loss: 0.5467 - accuracy: 0.7344
Epoch 25/50
804/804 [==============================] - 1s 747us/step - loss: 0.5469 - accuracy: 0.7334
Epoch 26/50
804/804 [==============================] - 1s 756us/step - loss: 0.5465 - accuracy: 0.7338
Epoch 27/50
804/804 [==============================] - 1s 750us/step - loss: 0.5460 - accuracy: 0.7342
Epoch 28/50
804/804 [==============================] - 1s 761us/step - loss: 0.5458 - accuracy: 0.7337
Epoch 29/50
804/804 [==============================] - 1s 752us/step - loss: 0.5454 - accuracy: 0.7339
Epoch 30/50
804/804 [==============================] - 1s 742us/step - loss: 0.5453 - accuracy: 0.7338
Epoch 31/50
804/804 [==============================] - 1s 767us/step - loss: 0.5451 - accuracy: 0.7353
Epoch 32/50
804/804 [==============================] - 1s 761us/step - loss: 0.5447 - accuracy: 0.7341
Epoch 33/50
804/804 [==============================] - 1s 752us/step - loss: 0.5445 - accuracy: 0.7352
Epoch 34/50
804/804 [==============================] - 1s 761us/step - loss: 0.5447 - accuracy: 0.7347
Epoch 35/50
804/804 [==============================] - 1s 761us/step - loss: 0.5443 - accuracy: 0.7349
Epoch 36/50
804/804 [==============================] - 1s 750us/step - loss: 0.5436 - accuracy: 0.7332
Epoch 37/50
804/804 [==============================] - 1s 753us/step - loss: 0.5435 - accuracy: 0.7351
Epoch 38/50
804/804 [==============================] - 1s 746us/step - loss: 0.5434 - accuracy: 0.7353
Epoch 39/50
804/804 [==============================] - 1s 764us/step - loss: 0.5428 - accuracy: 0.7350
Epoch 40/50
804/804 [==============================] - 1s 746us/step - loss: 0.5434 - accuracy: 0.7352
Epoch 41/50
804/804 [==============================] - 1s 740us/step - loss: 0.5425 - accuracy: 0.7355
Epoch 42/50
804/804 [==============================] - 1s 777us/step - loss: 0.5425 - accuracy: 0.7352
Epoch 43/50
804/804 [==============================] - 1s 746us/step - loss: 0.5420 - accuracy: 0.7361
Epoch 44/50
804/804 [==============================] - 1s 732us/step - loss: 0.5421 - accuracy: 0.7355
Epoch 45/50
804/804 [==============================] - 1s 758us/step - loss: 0.5421 - accuracy: 0.7357
Epoch 46/50
804/804 [==============================] - 1s 739us/step - loss: 0.5417 - accuracy: 0.7353
Epoch 47/50
804/804 [==============================] - 1s 730us/step - loss: 0.5421 - accuracy: 0.7353
Epoch 48/50
804/804 [==============================] - 1s 735us/step - loss: 0.5417 - accuracy: 0.7365
Epoch 49/50
804/804 [==============================] - 1s 747us/step - loss: 0.5415 - accuracy: 0.7368
Epoch 50/50
804/804 [==============================] - 1s 742us/step - loss: 0.5413 - accuracy: 0.7363

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5515 - accuracy: 0.7284 - 180ms/epoch - 673us/step
Loss: 0.5514532327651978, Accuracy: 0.728396475315094

In [20]:
len(nn.get_weights())

10

In [21]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity_Optimization.h5")